@use '../helpers/function' as *;
@use '../helpers/mixins' as *;

.best {
  // min-height: 554px;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    text-align: center;
  }

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
