@use '../helpers/function' as *;
@use '../helpers/mixins' as *;

.best {
  // min-height: 554px;
  padding-top: 60px;
  padding-bottom: 60px;
  &__container {
    text-align: center;
  }

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 12px;
    justify-content: center;

    @media (max-width: em(768)) {
      grid-template-columns: repeat(2, auto);
    }

    @media (max-width: em(450)) {
      grid-template-columns: auto;
    }
  }
}
