@use '../helpers/function' as *;
@use '../helpers/mixins' as *;

.best {
  background-color: var(--color-orange);
  &__container {
    text-align: center;
  }

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    @media (max-width: em(767.98)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: em(450)) {
      grid-template-columns: auto;
    }
  }
}
