@use '../helpers/function' as *;
@use '../helpers/mixins' as *;

.clock {
  padding-top: 180px;
  padding-bottom: 180px;
  background-image: url('../assets/img/fourth/clock-bg.png');
  background-position: 0 4px;
  background-size: 100% 106%;
  background-repeat: no-repeat;
  background-color: var(--color-orange);

  @media (max-width: em(970)) {
    background-size: 125% 102%;
  }

  @media (max-width: em(768)) {
    background-position: -320px 0;
    background-size: 180% 102%;
  }

  @media (max-width: em(600)) {
    background-position: -220px 0;
  }

  @media (max-width: em(460)) {
    background-position: -220px 0;
    background-size: 220% 102%;
  }

  @media (max-width: em(380)) {
    background-size: 240% 102%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 427px;
    text-align: center;
  }

  &__title {
    font-size: 24px;
    line-height: 1.52;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__button {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.countdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 12px;
  text-align: center;
  background-color: var(--color-timer);
  border-radius: var(--border-radius-20);

  > div:not(:first-child) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 1px;
      height: 20px;
      background-color: var(--color-timer);
      translate: 0 -50%;
    }
  }

  @media (max-width: em(350)) {
    padding: 3px 3px 3px;
  }
}
