@use '../helpers/function' as *;
@use '../helpers/mixins' as *;

.text {
  &__accent {
    font-family: var(--second-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
    color: var(--color-white);

    &--orange {
      color: var(--color-orange);
    }

    &--dark {
      color: var(--color-dark);
    }
  }
}

.pink {
  color: var(--color-pink);
}

.purple {
  color: var(--color-purple);
}

.green {
  color: var(--color-green);
}

.h1 {
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.18em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.h2 {
  font-size: 24px;
  line-height: 1.52;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
}

.h3 {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

.section-bcg {
  background-image: url('../assets/img/shop/bg-snow.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-orange);
}

.list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 12px;

  @media (max-width: em(768)) {
    grid-template-columns: repeat(2, auto);
  }

  @media (max-width: em(450)) {
    grid-template-columns: auto;
  }
}
