@use '../helpers/function' as *;
@use '../helpers/mixins' as *;

.text {
  &__accent {
    font-family: var(--second-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
    color: var(--color-white);

    &--orange {
      color: var(--color-orange);
    }

    &--dark {
      color: var(--color-dark);
    }
  }
}

.pink {
  color: var(--color-pink);
}

.purple {
  color: var(--color-purple);
}

.green {
  color: var(--color-green);
}
