@use '../helpers/function' as *;
@use '../helpers/mixins' as *;

.gifts {
  position: relative;
  min-height: 1300px;
  background-color: var(--color-orange);
  border-radius: var(--border-radius-20);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(200);
    background: url('../assets/img/shop/bg-garland-11.png') center/cover
      no-repeat;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    max-width: 426px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
