@use '../helpers/function' as *;
@use '../helpers/mixins' as *;

.hero {
  min-height: 524px;
  background-image: url('../assets/img/hero/hero-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-orange);
  border-radius: 20px 20px 0 0;
  padding-top: 122px;
  padding-bottom: 60px;

  @media (max-width: em(380)) {
    background-size: 361% 106%;
    background-position: center -32px;
    padding-bottom: 120px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
    max-width: 430px;
    text-align: center;
  }
}
