@use '../helpers/function' as *;
@use '../helpers/mixins' as *;

.about {
  background-color: var(--color-orange);

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    border-radius: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 426px;
    margin-left: 4%;
    background-color: var(--color-white);
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.52;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--color-dark);
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.48;
    color: var(--color-dark);
  }

  &__image {
    overflow: hidden;
    border-radius: 20px;
  }
}
