@use '../helpers/function' as *;
@use '../helpers/mixins' as *;

.slider {
  padding-top: 67px;
  padding-bottom: 60px;

  @media (max-width: em(768)) {
    padding-top: 63px;
  }

  &__container {
    text-align: center;
  }

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media (max-width: em(768)) {
      &:not(:last-child) {
        margin-bottom: 17px;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    transition: transform var(--transition);
  }

  &__slide {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: var(--transition);
  }

  &__slide-text {
    font-size: 80px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__slide-image {
    --size-slide-image: 200px;

    flex-shrink: 0;
    overflow: hidden;
    width: var(--size-slide-image);
    height: var(--size-slide-image);
    border-radius: var(--border-radius-20);
  }

  &__buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
  }

  &__button {
    line-height: 0;
    border-radius: var(--border-radius-20);

    @include hover {
      color: var(--color-orange);
      background-color: var(--color-white);
    }
  }

  &__button-prev {
    transform: rotate(-180deg);
  }
}
