@use '../helpers/function' as *;
@use '../helpers/mixins' as *;

.slider {
  &__container {
    text-align: center;
  }

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__slide {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__slide-text {
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
  }

  &__slide-image {
    --size-slide: 200px;

    @include square(var(--size-slide));

    overflow: hidden;
    border-radius: var(--border-radius-20);
  }

  &__buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
  }

  &__button {
    line-height: 0;
    border-radius: var(--border-radius-20);
    transition: var(--transition);

    @include hover {
      color: var(--color-orange);
      background-color: var(--color-white);
    }
  }

  &__button-prew {
    transform: rotate(-180deg);
  }
}
