@use 'helpers/function' as *;
@use 'helpers/mixins' as *;

body {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--main-color);

  // background-color: var(--color-white);

  &.lock {
    touch-action: none;
    overflow: hidden;
  }

  @media (max-width: em(767.98)) {
    font-size: var(--font-size-mobile);
  }
}

.wrapper {
  overflow: hidden; //  Поменять на clip - если используется в проекте position: sticky
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & main {
    flex: 1 1 auto;
  }
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition);
}

:focus-visible { // в момент фокусировки с клавиатуры
  // outline: rem(2) dashed var(--color-light);
  // outline-offset: rem(4);
  transition-duration: 0s !important;
}
