@use 'helpers/function' as *;

// --f-font-size: #{rem(16)}; #{rgba(#000, 10%) (если используем функции в css переменных, надо обернуть в #{} , иначе функции не будут работать)
:root {
  --font-family-base: 'Montserrat', sans-serif;
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Allura', sans-serif;

  // --third-family: 'SF Pro', sans-serif;
  --font-size: #{rem(16)};
  --font-size-mobile: #{rem(16)};
  --font-weight: 600;
  --line-height: 1.5;

  --main-color: var(--color-white);
  --second-color: var(--color-dark);
  --accent-color: var(--color-orange);
  --hover-color: var(--color-orange);
  --hover-background: var(--color-orange);
  --c-scroll-up: #4361ff;

  --color-white: #ffffff;
  --color-dark: #181c29;
  --color-orange: #ff4646;
  --color-purple: #4361ff;
  --color-pink: #ff43f7;
  --color-green: #06a44f;
  --color-light: #ecf3f8;
  --color-bg-body: var(--color-orange);
  --color-bg-hover: #{rgba(255, 70, 70, 0.1)};
  --color-timer: #{rgba(255, 255, 255, 0.4)};
  --color-active: #{rgba(255, 255, 255, 0.2)};

  --color-focus-active: #{rgba(6, 164, 79, 0.1)};
  --outline-active: 1px dashed var(--color-green);

  --border-radius: 12px;
  --border-radius-20: 20px;
  --transition: 0.3s ease 0s;
  
  
  // --color-black: #{rgba(#000000, 10%)};

  // --border: #{rem(1)} solid var(--color-dark);
  // --border-radius: #{rem(10)};

  //  from inspect style
  // --primary: #ff4646;
  // --dark: #181c29;
  // --static-white: #fff;
  // --content-background: #ecf3f8;
  // --tag-purple: #4361ff;
  // --tag-pink: #ff43f7;
  // --tag-green: #06a44f;

  // --primary-10: rgba(255, 70, 70, 0.1);
  
  
  --overlay: rgba(24, 28, 41, 0.8);
}
