@use '../helpers/function' as *;
@use '../helpers/mixins' as *;

.popup-card {
  width: 100%;
  max-width: 400px;
  color: var(--color-dark);

  &__inner {
    padding: rem(0) rem(20) rem(20);
  }

  &__inner-top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__title {
    font-size: 16px;
    line-height: 1.52;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.48;
  }
}

.rating-modal {
  color: var(--color-dark);

  &__title {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 40px 115px;
    align-items: center;
    gap: 12px;
  }

  &__text,
  &__value {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.48;
  }
}
